body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}


.flash {
    background-color: white;
}

.userflash{
    border: 10px solid magenta;
}

h3 {
    font-size: 1rem;
    color: #666;
  }
  